* {
    font-size: 20px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    font-family: "Corn", Helvetica, sans-serif; 
    font-size: small;
    font-weight: 40;
    font-size: 20px;
    color: rgb(34, 34, 34);
}
.bloco {
    border-radius: 5px;
    background: rgb(251, 252, 252);
    padding: 11px;
    margin: 6px;
    width: 610px;
    height: 720px;
    margin-left: 670px;
    margin-top: 120px;
    font-size: 30px;
    border: 1px solid rgb(203, 200, 200);
    box-shadow: 3px 3px 15px rgba(71, 71, 71, 0.3);
}
.parte2 {
    margin-left: 370px;
    margin-top: -665.5px;
}
.parte1 {
    margin-left: 10px;
}
h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px ;
    margin-top: 10px;
    
    margin-bottom: 10px;
}
.modifyText{
    font-size: 16px;
    width: 200px;
    height: 23px;
    border-radius: 5px;
}


.button {
    font-size: 20px;
    margin: 10px;
    background: rgb(122, 47, 116);
    width: 154px;
    height: 33px;
    border-radius: 5px;
    margin-left: 4px;
    color: white;
    margin-top: -40px;

    
}